.event-wrapper{
    border:1px solid #e0e0e0;
    box-shadow:10px 10px 10px #f3f0f0;
    padding: 20px;
    display: inline-block;
    width: 300px;
    margin: 20px;
}
.event-name{
    font-weight: 600;
}
.event-wrapper div{
    margin-bottom: 20px;
}
.bt{
    border-radius:50%;
    background-color: green;
    box-shadow: inset 0 0 10px rgb(1, 75, 1);
    border: none;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    float: right;
    font-weight: 500;
    color: white;
    
}